<h1>Log In </h1>
<%=flash[:massage] if flash[:massage] %>

<%= form_for :user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, require:true %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, require:true %>
    <br>
    <br>
    <%= f.submit "Login" %>
<% end %>
    <br>
    <h5> Opps, I don't have an account yet, I meant to  <%= link_to "Sign Up", '/signup' %>  </h5> 
  
    
    