<% if @interview_question %>
<h1> Comments for <%= @interview_question.question %> </h1>

<% else %>
<h1> All Comments </h1>
<% end %>


<ul> 
<% @comments.each do |c| %>
    <li> <%= c.user.name %> added "<%= truncate(c.content, :length => 80) %> </li> to this question: <%= link_to c.interview_question.question, interview_question_path(c.interview_question_id)%> on <%= c.created_at.strftime("%d %b. %Y") %> </li> 
    <% end %>
</ul>

