<% if @interview_question %>
<h1> Comments for <%= @interview_question.question %> </h1>

<% else %>
<h1> All Comments </h1>
<% end %>


<ul> 
<% @comments.each do |c| %>
    <li> <%= c.user.name %> added "<%= link_to truncate(c.content, :length => 80), comment_path(c) %>" </li> to this question: <%= link_to c.interview_question.question, interview_question_path(c.interview_question_id)%> on <%= c.created_at.strftime("%d %b. %Y") %> </li> 
    <% end %>
</ul>


<% if @comments.empty? %>
 
<h2>Looks like there aren't any comments yet! </h2>
Post a comment  <h>  <%= link_to "here", new_interview_question_comment_path(@interview_question) %> </p>
<% end %>

