<h1>New comment for:</h1> 
<h2><%= @comment.interview_question.question %></h2> 
<p> <b> Answer from <%= @comment.interview_question.user.name %>:</b> <%= @comment.interview_question.answer %></p>

<label> Add your comment: </label>
<%= render partial: 'form'%>
<%= render partial: "layouts/errors", locals: {object: @comment} %>

