<%= form_for(@interview_question) do |f| %>
 
    <%= f.label :question %>:
    <%= f.text_area :question  %>
    <br>
    <br>
    <%= f.label :answer %>:
    <%= f.text_area :answer %>
    <br>
    <br>
  
    <%= f.label "Choose a category for this question:" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    
    <p> Or create a new category:
    <%= f.fields_for :category do |c| %>
        <%= c.text_field :name, value: nil %>
        <% end %>
    </p>

    <br></br>
    <%= f.submit "Submit Your Interview Question" %>

    <% end %>

   