<% if @interview_question.category %>
<h1>New Interview Question for:</h1> <br> <h2><%= @interview_question.category.name %></h2> 
<% else %>
<h1>Add a new Interview Question here:</h1>
<% end %>


<%= form_for([@interview_question.category, @interview_question]) do |f| %>
 
    <%= f.label :question %>:
    <%= f.text_field :question  %>
    <br>
    <br>
    <%= f.label :answer %>:
    <%= f.text_area :answer %>
    <br>
    <br>
    <% if  !@interview_question.category %>
    <%= f.label "Choose a category for this question:" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    
    <p> Or create a new category:
        <%= f.fields_for :category do |c| %>
        <%= c.text_field :name %>
        <% end %>
    <% else %>
    <%= f.hidden_field :category_id %>   
    <% end %>
    </p>

    <br></br>
    <%= f.submit "Create Your Interview Question" %>

    <% end %>