<h1>Add a new Interview Question here: </h1>

<%= form_for(@interview_question) do |f| %>
 
    <%= f.label :question %>:
    <%= f.text_field :question  %>
    <br>
    <br>
    <%= f.label :answer %>:
    <%= f.text_area :answer %>
    <br>
    <br>
    <%= f.label "Choose the job category you are applying for:" %>
    <%= f.collection_select :category_id, Category.all, :id, :title, include_blank: true %>
    
    <p> Or create a new category:
        <%= f.fields_for :category do |c| %>
        <%= c.text_field :title %>
        <% end %>
    </p>

    <br></br>
    <%= f.submit "Create Your Interview Question" %>

    <% end %>