<h1> <%=@interview_question.question %> </h1>
<h4> Posted by: <%= @interview_question.user.name %></h4>

<div> <%= @interview_question.answer %> <br>

      <h3>Category: <%= @interview_question.category.try(:name)%></h3>
</div>

<h3> Comments: </h3>

<% @interview_question.comments.sort_by{|t| - t.created_at.to_i}.first(3).each do |c| %>

    <li> <%= c.user.name %> said "<%= link_to truncate(c.content, :length => 65), comment_path(c) %>" on <%= c.created_at.strftime("%d %b. %Y") %>  </li>

    <% end %>

<p>  <%= link_to "See all comments for this question", interview_question_comments_path(@interview_question) %> </p>
 
<p>  <%= link_to "Add a Comment", new_interview_question_comment_path(@interview_question) %> </p>

<p>  <%= link_to "Edit Question", edit_interview_question_path(@interview_question) if @interview_question.user == current_user %> </p>
